<form role="search" ng-submit="updateLocation(location)">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Location" ng-model="location">
    </div>
</form>

<ul class="todo-list">
    <li class="todo-item" ng-repeat="geek in geeks">
        <img src="http://www.gravatar.com/avatar/{{geek.gravatar_id}}" />
        <div class="basic"><a href="{{geek.blog}}">{{geek.name}}</a> - {{geek.login}}</div>
        <div class="followers">{{geek.followers}}</div>
        <div class="email">{{geek.email}}</div>
    </li>
</ul>
