<snap-drawer>
    <form class="search" role="search" ng-submit="updateLocation(location)">
        <input type="text" class="search-field" placeholder="Location" ng-model="location">
        <label>Show only hireable<input type="checkbox" ng-model="hireable"></label>
    </form>

    <div class="drawer-inner">
        <ul>
            <li ng-repeat="geek in geeks | filter: {hireable: hireable}">
                <a ng-click="selectGeek(geek)"><img src="http://www.gravatar.com/avatar/{{geek.gravatar}}?s=20" /> {{geek.name}}</a>
            </li>
        </ul>
    </div>
</snap-drawer>

<snap-content>
    <h2>Details</h2>

    <div class="info" ng-show="selectedGeek">
        <img src="http://www.gravatar.com/avatar/{{selectedGeek.gravatar}}" />
        <div class="basic"><a href="{{selectedGeek.homepage}}">{{selectedGeek.name}}</a> - {{selectedGeek.nick}}</div>
        <div class="followers">{{selectedGeek.followers}}</div>
        <div class="email">{{selectedGeek.email}}</div>
    </div>

    <h2>RSS</h2>

    <div class="rss" ng-show="selectedGeek">
        <ul>
            <li class="rss-entry" ng-repeat="entry in selectedGeek.rss">
                <a href="{{entry.url}}">{{entry.title}}</a>
            </li>
        </ul>
    </div>

    <h2>Twitter</h2>

    TODO: show tweets
    </div>
</snap-content>