.geeks-list {
    list-style: none;
    text-indent: 0;
    padding: 0;
}

.geeks-item {
    padding: 0.5em;
}

.geeks-done {
    text-decoration: line-through;
    font-style: italic;
    color: #999;
}
